<template name="myForm">
  <input type="file" class="myFileInput">

	{{> imageView}}
</template>

<template name="imageView">
	  <div class="imageView">
	    {{#each images}}
	      <div>
	        <a href="{{this.url}}" target="_blank"><img src="{{this.url uploading='/images/uploading.gif' storing='/images/storing.gif'}}" alt="" class="thumbnail" /></a>
	      </div>
	    {{/each}}
	  </div>
	</template>