<template name="LoginForm">
	<form id="LoginForm" action="action">
      <div>
        <input type="email" class="LoginForm__input" id="LoginForm__email" placeholder="Adres email" required/>
        <input type="password" class="LoginForm__input" id="LoginForm__password" placeholder="Hasło"/>
        <input type="submit" class="LoginForm__input LoginForm__submit" value="Zaloguj się" />
     </div>
   </form> 
</template>