#LoginForm
	position: absolute
	top: 0
	bottom: 0
	left: 40px
	margin: auto
	width: 400px
	height: 300px
	background: #fff
	padding: 40px
	
.LoginForm__input
	display: block
	width: 100%
	margin-bottom: 40px
	padding: 10px 20px
	border: 1px solid $blue
	outline: none
	color: #5AC2E7
		
.LoginForm__submit
	background: $blue
	color: #fff
	font-weight: 700
	text-align: center
		