<template name="createUserForm">
    {{#autoForm schema=schema id="createUsertForm" type="method" meteormethod="createUser"}}
		  <fieldset>
		    <legend>Contact Us</legend>
		    {{> afQuickField name="email"}}
		    {{> afQuickField name="password"}}
		    {{> afQuickField name="passwordConfirmation"}}
		    {{> afQuickField name="profile"}}
		    <div>
		      <button type="submit" class="btn btn-primary">Submit</button>
		      <button type="reset" class="btn btn-default">Reset</button>
		    </div>
		  </fieldset>
	  {{/autoForm}}
</template>

