<template name="createPresentationForm">
    <div class="">
        {{> quickForm collection="Presentations" id="insertPresentationForm" type="insert" class="new-recipe-form"}}
    </div>
</template>

<template name="File">
	<form  class="myFileInput">
		<input type="file">
		<input type="submit" value="zapisz">
	</form>
</template>