<template name="PresentationSingle">
    <h1>{{presentation.name}}</h1>
		
		{{#if Template.subscriptionsReady}}
        {{#each presentation.slides}}
            {{> ImageSingle}}
        {{/each}}
    {{else}}
        <p>Loading</p>
    {{/if}}

		
</template>

<template name="ImageSingle">
	<img alt="{{imageSingle.name}}" src="{{imageSingle.url}}">
</template>