<template name="AdminMenu">
	<section>
	    <nav>
	        <ul class="Menu">
	            <li class="Menu__item">
	                <a class="Menu__link" href="/online">Prezentacja Online</a>
	            </li>
	            <li class="Menu__item">
	                <a class="Menu__link" href="{{pathFor 'notes'}}">Twoje notatki i pytania do prowadzącego</a>
	            </li>
	            <li class="Menu__item">
	                <a class="Menu__link" href="/prezentacje">Prezentacje</a>
	            </li>
	            <li class="Menu__item">
	                <a class="Menu__link" href="{{pathFor 'agenda'}}">Agenda spotkania</a>
	            </li>
	            <li class="Menu__item">
	                <a class="Menu__link" href="{{pathFor 'logistics'}}">Informacje logistyczne</a>
	            </li>
	            {{#if currentUser}}
	            <li class="Menu__item">
	                <a class="Menu__link logout" href="#">Wyloguj się</a>
	            </li>
	            {{/if}}
	        </ul>
	    </nav>
    </section>
</template>