<template name="AdminMainFooter">
	<!-- Main Footer -->
	<footer class="main-footer">
	  <!-- To the right -->
	  <div class="pull-right hidden-xs">
	    Just because I don't care doesn't mean I don't understand.
	  </div>
	  <!-- Default to the left -->
	  <strong>Copyright &copy; 2016 <a href="http://lptg.pl" target="_blank">LPTG</a>.</strong> All rights reserved.
	</footer>
</template>