<template name="AdminMainSidebar">
	<!-- Left side column. contains the user panel and sidebar -->
	<aside class="main-sidebar">

	  <section class="sidebar">

	    <!-- Sidebar user panel (optional) -->
	    <div class="user-panel">
	      <div class="pull-left image">
	        <img src="https://randomuser.me/api/portraits/med/women/73.jpg" class="img-circle" alt="User Image">
	      </div>
	      <div class="pull-left info">
	        <p>{{currentUser.profile.firstname}} {{currentUser.profile.lastname}}</p>
	        <!-- Status -->
	        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
	      </div>
	    </div>

	    <!-- search form (Optional) -->
	    <form action="#" method="get" class="sidebar-form">
	      <div class="input-group">
	        <input type="text" name="q" class="form-control" placeholder="Search...">
	            <span class="input-group-btn">
	              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
	              </button>
	            </span>
	      </div>
	    </form>
	    <!-- /.search form -->

	    <!-- Sidebar Menu -->
	    <ul class="sidebar-menu">
	      <li class="header">File</li>
        <li><a href="{{pathFor 'file'}}">Plik</a></li>
	      <li class="header">Menu</li>
	      <li class="treeview">
	        <a href="#">
	        	<i class="ion ion-ios-people-outline"></i> 
	        	<span>Prezentacje</span> 
	        	<i class="fa fa-angle-left pull-right"></i>
        	</a>
	        <ul class="treeview-menu">
	          <li><a href="{{pathFor 'presentationsList'}}">Lista</a></li>
	          <li><a href="{{pathFor 'createPresentation'}}">Dodaj</a></li>
	        </ul>
	      </li>
	      <li class="treeview">
	        <a href="#">
	        	<i class="ion ion-ios-people-outline"></i> 
	        	<span>Użytkownicy</span> 
	        	<i class="fa fa-angle-left pull-right"></i>
        	</a>
	        <ul class="treeview-menu">
	          <li><a href="{{pathFor 'users'}}">Lista</a></li>
	          <li><a href="{{pathFor 'createUser'}}">Dodaj</a></li>
	        </ul>
	      </li>
	    </ul>
	    <!-- /.sidebar-menu -->
	  </section>
	  <!-- /.sidebar -->
	</aside>
</template>