.MenuPage
	display: flex
	align-items: center
	justify-content: center
	width: 100%
	height: 100%
	background: url("img/education.jpg") no-repeat center center fixed
	background-size: cover
	
.Menu
	padding: 0
	margin: 0
	list-style: none
	
.Menu__item
	padding: 10px 20px
	background: $blue
	text-align: center
	margin-bottom: 10px
	
.Menu__link
	text-decoration: none
	display: block
	width: 100%
	height: 100%
	color: #fff
	font-weight: 700